* {
    margin: 0; padding: 0;
    box-sizing: border-box;    
}
a { text-decoration: none;}
ul { list-style-type: none;}
body {
    padding-top: 35px;
    font-family: 'Titillium Web', sans-serif;
}
/* .container-fluid { background-color: #3d82b1;} */
  /* 모버일 높이가 35px에 패딩 조정 */
  @media screen and (max-width: 767px){
    body {
        padding-top: 35px;
        font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Titillium Web', sans-serif;
    }
}
nav {
    /* outline: 2px solid red; */
    background: #0C3247;
}
#visual {
    position: relative;
}

#visual .container {
    position: absolute;
    left: 80%; bottom: 10%;
    transform: translateX(-80%);
    /* outline: 1px solid green; */
}
#visual.container-fluid { padding: 0;}
#visual .row {position: relative;}
.do_type {
    color: #fff;
    font-size: 5vw;
    text-align: right;
    text-shadow: 1px 1px 4px #04275c;
    /* outline: 1px solid red; */
    animation: type 1s linear;
}
@keyframes type {
    from {
        opacity: 0;
        margin-left: -50px;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
.do_type > span:last-child { 
    border-right: 2px solid #333;
    padding-right: 4px;
  }
#visual img {
    position: relative;

    animation: v-img 1s linear;
}
@keyframes v-img {
    from {
        opacity: 0;
        margin-left: -50px;
      
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}

#visual .row button {
    width: 300px; height: 50px;
    position: absolute;
    left: 45%; 
}


section { padding: 20px;}

.container-fluid {
    background: #1f405e
}

/* 어바웃 */

#about h1 {
    color: #fff;
}



/* 스킬(직무능력) */
#skill{
	padding: 60px 0;
	margin-bottom: 0;
    color: #fff;
    /* outline: 1px solid red; */
}
#skill > h3{ margin-left: 15px; margin-top: -50px;}
#skill .skill_list > li{
	position: relative;
	width: 90%;
	height: 10px;
	text-align: left;
	margin: 40px 0 20px 0;
	background: #000;
/*	border: 1px solid red;*/
}
#skill .skill_list span{
	position: absolute;
	left: 0; top: 0;
	display: block;
	background: #fff;
	width: 10%; height: 100%;
}
#skill .skill_list b{
	position: relative;
	font-weight: normal;
	top: -1.5em;
}


/* 작품소개 */
#works {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 100px;
    margin-bottom: 50px;
    /* outline: 1px solid red; */
    
    
}
#works .section_header {
    text-align: center;
}
#works .section_header h2 {
    font-weight: bold;
}
#works .section_header > span {
    padding-left: 90px;
}

#works > nav {
    background: #0C3247;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}
#works > nav > a {
     color: #fff;
     margin-left: 25px; margin-right: 25px;
     text-transform: uppercase;
    
}
#works > nav > a:hover { color: #f18a67; text-decoration: none;}

/* 작품들 */

#work_list_all li {
    position: relative;
    width: 320px; height: 300px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 25px;
    float: left;
    box-shadow: 1px 1px 3px rgba(126, 126, 126, 0.5);
    margin-bottom: 100px;
    /* outline: 1px solid red; */
    
}

#work_list_all li a {
    position: relative;
    display: block;
    /* border: 1px solid red; */
    /* 작품 이미지 클리핑(확대시 영역 가림) */
    overflow: hidden;
    width: 100%; height: 100%;
  }
  #work_list_all li img {
    width: 100%;
  }

/* hover box */
#work_list_all  li > a > .info {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: #0C3247;
    display: none;
    opacity: 0.8;
    
}
#work_list_all  li > a > .info h4 {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-size: 24px;

}
#work_list_all  li > a > .info p {
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 50px;
    
}
#work_list_all  li:hover .info { 
    display: block;
}

#work_list_all  li:hover .info p {
   position: relative;
   margin-bottom: 50px;
   padding-bottom: 50px;
}
/* 모션 확대 효과 */
#work_list_all  li img { transition: 0.5s;}
#work_list_all  li:hover img {
  transform: scale(1.2);
}
@media screen and (max-width: 767px){
    #work_list_all li {
        margin-left: 70px;
    }
    #works > nav > a  {
        margin-left: 10px;
        margin-right: 10px;
    }
}

 /* 푸터 */
 footer.container-fluid {
    background-color: #0C3247;
    /* outline: 1px solid red; */
    overflow: hidden;   
}


#contact .row > li {
    /* display: inline-block; */
    color: white;
    /* outline: 1px solid red; */
    list-style-type: none;
    margin-top: 17px;
}
#contact .row > li:first-child { font-size: 20px; margin-top: 15px;}
#contact .row > p {
    
    color: white;
    text-align: center;
    bottom: 50px;
    font-size: 12px;
    
}